.indvCards {
  width: 251px;
  border: 1px solid #efefef;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  float: left;
  margin: 10px;

}

.cardLayout{
  display:flex;
  justify-content:center;
  float: left;
  align-items:center;
}

.card__blur {
  filter: blur(5px);
  overflow: hidden;
}





