.indvCards {
  width: 251px;
  border: 1px solid #efefef;
  box-shadow: 0 15px 25px rgba(41, 44, 47, 0.4); /*hex value for color , last value is opacity*/
  float: left;
  margin: 10px;
  align-content: center;
  font-family: 'Lobster', cursive;
  background-color: #ffffff;
  padding-left: 10px;
}

.cardLayout{
  display:flex;
  justify-content:center;
  float: left;
  align-items:center;
}

.card__blur {
  filter: blur(5px);
  overflow: hidden;
}

input[type="submit"]{
  font-family:'Lobster', cursive;
}






