
body{
    width:90%;
    height:95%;
    border:6px ;
    background:#292c2f ;
}

.side-nav{
	align-self: center;
	text-align: center;
	margin: 10px;
	margin-top: 15;
	font-family: 'Lobster', cursive;
	font-size: 22px;
	border-radius: 5px;	    
}

.side-nav:active {
    color: blue;
}

a{
	text-decoration:none;
	text-shadow: 5px;
	color: #ffffff;
}

.side-nav:hover {
    background-color: #2A6A92;
}




/*GUEST STYLING*/
.guest_nav{
	align-content: center;
	text-align: center;
	color: #ffffff;
	font-family: 'Lobster', cursive;
	border-radius: 5px;
	margin: 5px;
	font-size: 18px;
}

.guest_nav:hover {
    background-color: #2A6A92;
}
